.titlebar{
    display: table; width: 100%;
}
.logo{
    display: inline-block;
    display: table-cell;text-align: left;
}
.title{
    display: inline-block;
    display: table-cell;text-align: right;
}
.time{
    display: inline-block;
    display: table-cell;text-align: right;
}
.lesson{
    
    display: flex;
    justify-content: space-evenly;
    height: 215px;
}

.reason{
    
    width: 40%;
    height: 186px;
    text-align: center;
    
}

.centered{
    text-align: left;
}

.space{
    height:150px;
}

.btn {
    display: block;
    margin: auto;
    text-align: center;
    background: navy;
    border: 2px solid transparent;
    color:  #fff;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
  }
   
  .btn:focus,
  .btn:hover {
    background: #fff;
    border-color: currentColor;
    color: navy;
  }
   


 